// ===========COLORS=============
$color-primary: #000;
$color-secondary: #5b6069;
$color-white: #fff;
$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

// ===========TYPOGRAPHY=============
$font-size-normal: 1.6rem;

// ===========GRID=============
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
