.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    position: absolute;
    transition: all 0.8s ease;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    height: 52rem;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-primary, 0.15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      background-image: linear-gradient(
        to bottom right,
        rgba($color-secondary, 0.2),
        rgba($color-primary, 0.3)
      );
      transform: rotateY(180deg);
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 25rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
    &--1 {
      background-image: url(../../assets/images/p2.jpg);
    }
  }
  &__heading {
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-weight: normal;
    text-align: right;
    width: 70%;
    position: absolute;
    top: 15.5rem;
    right: 2rem;
    &-span {
      color: $color-white;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.8),
        rgba($color-primary, 0.8)
      );
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
  &__details {
    ul {
      padding-top: 3rem;
      list-style: none;
      width: 65%;
      margin: 0 auto;
      li {
        text-align: center;
        color: $color-secondary;
        padding: 1.2rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__price-box {
    text-align: center;
    margin-bottom: 4rem;
    &--text {
      text-transform: uppercase;
      font-size: 2rem;
    }
    &--value {
      font-size: 5.5rem;
      font-weight: normal;
    }
  }
}
