.composition {
  position: relative;
  &__photo {
    width: 55%;
    border-radius: 3px;
    box-shadow: 0px 1.5rem 4rem rgba($color-primary, 0.4);
    position: absolute;
    outline-offset: 2rem;
    transition: all 0.2;
    z-index: 1;

    &--p1 {
      top: -3rem;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      right: 0;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 2;
      box-shadow: 0px 2.5rem 4rem rgba($color-primary, 0.5);
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
